---
import AnimatedProjectText from './AnimatedProjectText';
import ProjectModal from './ProjectModal';
const { title, description, link, techStack, direction, video } = Astro.props;
---

<article class="w-full relative flex flex-col items-start">
    <AnimatedProjectText text={title + " "} direction={direction} page={false} client:visible  />
    <h2 class="absolute text-transparent z-[-10] "  >
        {title}
    </h2>
    <div class="w-full flex items-center justify-between md:h-auto relative lg:flex-row flex-col gap-[12px] md:px-[16px] px-[8px]   " >
        <ProjectModal project={{title, description, techStack, link, video}} client:visible />
        {video ? (
            <video src={`/videos/${title.toLowerCase()}1.mp4`} autoplay loop muted playsinline preload="none" class="w-full md:block hidden  md:max-h-[90lvh] min-h-[60lvh] lg:min-h-[70lvh] object-cover rounded-[8px] " />
            <video src={`/videos/${title.toLowerCase()}1mobile.mp4`} autoplay loop muted playsinline preload="none" class="w-full md:hidden block  md:max-h-[90lvh] min-h-[60lvh] lg:min-h-[70lvh] object-fit rounded-[8px] " />

        ) : (
        <img src={`/images/${title.toLowerCase()}1.webp`} alt={title} 
        class={`w-full md:block hidden md:max-h-[90vh] min-h-[60lvh] lg:min-h-[70lvh] object-cover rounded-[8px]`} />
        <img src={`/images/${title.toLowerCase()}1mobile.webp`} alt={title}
        class={`w-full md:hidden block md:max-h-[90lvh] h-[800px] md:h-auto lg:min-h-[70lvh] object-contain md:object-cover rounded-[8px]`} />
        )}


        
        <p class="absolute bottom-2 right-8 mix-blend-difference text-white " >
            Click Me!
        </p>
    </div>
    <div class="w-full pt-[12px] pb-[72px] flex flex-row flex-wrap justify-end gap-[12px] px-[16px] " >
        {techStack?.map((tech: string, index:number) => (
            <div class="px-3 py-1 border-2 border-white rounded-[4px] " >
                <p class="text-white text-[14px] tracking-wide font-medium " >
                    {tech}
                </p>
            </div>
        ))}
        </div>
</article>